html {
  background-color: hsl(218, 28%, 13%);
  color: #fff;
  font-family: 'Raleway';
}

/*nav*/

.nav {

}

.nav-logo {
  float: left;
}

.nav-logo img {
  width: 220px;
  padding-top: 50px;
  padding-left: 50px;
}

.nav-menu {
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}

.nav-menu ul {
  list-style: none;
}

.nav-menu li {
  font-weight: 400;
  display: inline-block;
  font-size: 2.2rem;
  padding-top: 35px;
  padding-right: 40px;
}

/*-----header-----*/
.header {
  width: 375px;
  text-align: center;
}

.header-image {
  padding-top: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.header-text {
  margin: 0 auto;
}


/*main*/
