html {
  background-color: hsl(218, 28%, 13%);
  color: #fff;
}

/*nav*/

.nav {

}

.nav-logo {
  float: left;
}

.nav-logo img {
  width: 80px;
  padding-top: 25px;
  padding-left: 20px;
}

.nav-menu {
  float: right;

}

.nav-menu ul {
  list-style: none;
}

.nav-menu li {
  font-family: 'Raleway';
  font-weight: 400;
  display: inline-block;
  font-size: 0.8rem;
  padding: 15px;
}
/*main*/
